<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <div class="logo-container">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" class="logo">
        </div>
        <h1 class="app-title">Work Tracker</h1> <!-- Added header title -->
        <nav>
            <ul>
                <li><a href="{{ url_for('logout') }}">Home</a></li>
                <li><a href="{{ url_for('admin_login') }}">Admin</a></li>
                {% if session.get('team_id') %}
                <li><a href="{{ url_for('add_member', team_id=session['team_id']) }}">Add Member</a></li>
                <li><a href="{{ url_for('track_attendance', team_id=session['team_id']) }}">Track Attendance Count</a></li>
                <li><a href="{{ url_for('download_monthly_report', team_id=session['team_id']) }}">Download Monthly Report</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
